body {
    overflow-x: hidden;
}

.container-fluid.z{
    background-image: url("designer_1.png");
    background-repeat: no-repeat;
    background-size: 1490.03px 1161px;
    top: -49px;
    left: 417.29px;
    padding-bottom: 500px;
    background-position:75% right;
    background-size: cover;
 }

.row.a{
    width: 1440px;
    height: 60px;
}

.row.b{
    top: 303px;
    left: 163.12px;
    padding: 0px 0.37px 0px 0px;
    padding-top: 200px;
}

.row.d{
    width: 245px;
    height: 24px;
    top: 18px;
    left: 165px;
    color: #505F98;
}

.title{
    width: 539px;
    height: 132px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    text-align: left;
    color: #091133;

}

.content{
    width: 539px;
    height: 164px;
    top: 152px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #505F98;
}

.purchase,.purchase1{
    width: 189.13px;
    height: 36px;
    top: 688px;
    left: 163.12px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background-color: #111B47;
}

.learn{
    width: 189.13px;
    height: 36px;
    top: 688px;
    left: 382.27px;
    gap: 0px;
    opacity: 0px;
    color: #091133;
    margin-left: 130px;
}

.r,.r1{
    width: 79px;
    height: 38px;
    top: 12px;
    left: 681px;
}

a.nav-link{
    color: #505F98;
}

.btn.buy{
    width: 160px;
    height: 26px;
    top: 18px;
    left: 1115px;
    background-color: #111B47;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color:#FFFFFF;
}

.row.i,.row.y,.row.e{
    padding-top: 200px;
}

.t,.t1{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    color: #091133;
    width: 540px;
    height: 48px;
}

.c,.c1{
    width: 540px;
    height: 140px;
    top: 64px;
    color: #6F7CB2;
}

.q,.v{
    /* width: 255px;
    height: 26px; */
    top: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color:#091133;
}

.o,.s{
    /* width: 255px;
    height: 54px; */
    top: 82px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #5D6970;
} 

.float-child-element { 
    float: left; 
    
} 
.red { 
    height: 100px; 
    width: 250px; 
} 
.green { 
    height: 100px; 
    width: 250px; 
    padding-left: 15px;

}

.container-fluid.t{
    background-color: #E7ECFF;
    width: 2546.93px;
    height: 938px;
    top: 3607.39px;
    left: -620.29px;
    gap: 0px;
    opacity: 0.5px; 
}

.t3,.c4{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: #091133;
}

.c3,.c5,.c6{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #6F7CB2;
}

.p1{
    width: 189px;
    height: 31.81px;
    top: 4207.86px;
    left: 625px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-left: 420px;
    color: #FFFFFF;
    background-color: #111B47;
}

.a1{
    width: 133px;
    height: 24px;
    top: 4480px;
    left: 165px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #939EA4;
}

.p2{
    width: 109px;
    height: 18px;
    top: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    background-color: #111B47;
    color: #FFFFFF;
}

.c6{
    color: #929ECC;
}

.row.i{
    padding-bottom: 100px;
}

.container-fluid.p{
    background-color: #E7ECFF;
}